/* __________________________________________________reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* __________________________________________________my styles */

:root {
    --blue-color: #4cb1ca;
    --green-color: #7db122;
    --grey-color: #656565;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.width {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

.width::after {
    content: "";
    clear: both;
    display: table;
}

/* __________________________________________________header-top */

.header-top {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: var(--blue-color);
    font-size: 13px;
    color: #fff;
}

.header-top a {
    color: #fff;
}

.header-top span {
    font-weight: bold;
}

.lang {
    float: left;
    margin-right: 20px;
}

.currency {
    float: left;
}

.top-menu > ul {
    float: right;
}

.top-menu > ul > li{
    display: inline;
    position: relative;
    margin-left: 31px;
}

.top-menu > ul > li::after {
    content: '';
    width: 1px;
    height: 11px;
    background-color: #fff;
    position: absolute;
    right: -16px;
    bottom: 2px;
}

#last::after {
    content: '';
    display: none;
}

/* __________________________________________________header-bottom */

.header-bottom {
    padding-bottom: 36px;
    color: var(--grey-color);
}

.header-bottom .width {
    padding-top: 36px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bolder;
    float: left;
}

.bottom-menu > ul {
    float: left;
    margin-top: 8px;
    margin-left: 58px;
}

.bottom-menu a{
    font-weight: bold;
    color: var(--grey-color);
}

.bottom-menu > ul > li {
    display: inline;
    text-transform: uppercase;
    margin-right: 24px;
}

.input {
    width: 172px;
    height: 28px;
    padding: 0 8px;
    margin-right: 14px;
    border: 1px solid var(--grey-color);
    float: right;
    overflow: hidden;
    font-style: italic;
}

.search {
    margin-top: 8px;
    float: left;
}

.input img {
    float: right;
    margin-top: 8px;
}

.header-bottom img {
    float: right;
    margin-right: 4px;
}

#cart {
    text-transform: uppercase;
    float: right;
    margin-top: 8px;
    margin-left: 14px;
    font-weight: bold;
}

/* __________________________________________________slider */

.slider {
    /* height: 475px; */
    position: relative;
}

.slider-btn {
    position: absolute;
    top: 202px;
}

#arr-right {
    left: 120px;
}

#arr-left {
    right: 120px;
}

.slider-title {
    display: inline-block;
    font-size: 30px;
    padding: 13px;
    text-transform: uppercase;
    background-color: var(--grey-color);
    color: #fff;
    position: absolute;
    top: 189px;
    left: 236px;
}

.slider-subtitle {
    display: inline-block;
    font-size: 30px;
    padding: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--grey-color);
    color: #fff;
    position: absolute;
    top: 248px;
    left: 236px;
}

/*__________________________________________________ gallery */

.gallery {
    width: 760px;
    margin-top: 47px;
    float: left;
    color: var(--grey-color);
}

.sidebar {
    width: 235px;
    min-height: 200px;
    margin-top: 47px;
    padding: 0;
    float: right;
}

.gallery-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 24px;
}

.gallery > .gallery-title:first-child {
    margin-top: 0;
}

.gallery-row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 27px;
}

.item {
    width: 233px;
    height: 318px;
    background-color: #fff;
    float: left;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
}

.item:hover {
    opacity: .6;
}

.gallery-row > .item:last-child {
    margin-right: 0;
}

.item > img {
    width: 214px;
    height: 228px;
}

.item-title {
    margin-top: 18px;
}

.item-cost {
    color: var(--green-color);
    margin-top: 6px;
}

.item-cost span {
    text-decoration: line-through; 
    color: var(--grey-color);     
    font-size: 12px;
}
 
.icon-basket {
    width: 46px;
    height: 46px;
    position: absolute;
    right: 13px;
    bottom: 20px;
  }
  
.new::after {
    content: '';
    position: absolute;
    width: 95px;
    height: 92px;
    top: -3px;
    right: -2px;
    background-image: url('img/lbl-new.png');
    background-repeat: no-repeat;
}

.sale::after {
    content: '';
    position: absolute;
    width: 95px;
    height: 92px;
    top: -3px;
    left: -2px;
    background-image: url('img/lbl-sale.png');
    background-repeat: no-repeat;
}

/*__________________________________________________ banner */

.banner {
    width: 100%;
    height: 445px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 4px solid var(--blue-color);
    padding: 13px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.banner > img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: 0 auto;
}

#banner-btn {
    border: none;
    outline: none;
    width: 132px;
    height: 44px;
    background-color: var(--blue-color);
    color: #fff;
    position: absolute;
    bottom: 29px;
    left: 51px;
    cursor: pointer;
}

.dots-block {
    width: 100%;
    height: 39px;
    padding-top: 15px;
    padding-left: 90px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.dots-block::after {
    content: "";
    clear: both;
    display: table;
}

.dots {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    margin-right: 10px;
    background-color: var(--green-color);
    display: block;
    float: left;
    cursor: pointer;
}

.dots:first-child {
    background-color: var(--blue-color);
}

/*__________________________________________________ signup form */

.signup-form {
    width: 100%;
    height: 280px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 4px solid var(--blue-color);
    padding-top: 25px;
    margin-top: 31px;
    color: var(--grey-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.signup-form-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.signup-form-subtitle {
    font-size: 14px;
    text-align: center;
    line-height: 1.429;
    margin-top: 20px;
}

.signup-form > hr {
    width: 85px;
    opacity: .4;
    margin-top: 13px;
    margin-bottom: 13px;
}

.signup-input {
    width: 185px;
    height: 29px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.signup-form > button {
    width: 112px;
    height: 44px;    
    color: #fff;
    background-color: var(--green-color);
    outline: none;
    border: none;
    margin-top: 18px;
    margin-left: 61px;
}

/*__________________________________________________ footer */

.footer {
    margin-top: 76px;
}

.footer-contacts {
    width: 100%;
    box-sizing: border-box;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #4cb1ca;
}

.footer-contacts > .width > img {
    float: left;
    
}

.footer-contacts > .width > img:nth-child(3){
    margin-left: 88px;
}

.contacts-text {
    float: left;
    font-size: 21px;
    margin-left: 21px;
    margin-top: 24px;
    color: #fff;
    text-transform: uppercase;
}

.footer-middle {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: #39a0b9;
    color: #fff;
}
  
.footer-column {
    float: left;
}

.footer-column:nth-child(1) {
    width: 283px;
    padding-right: 30px;
    box-sizing: border-box;
}
.footer-column:nth-child(2) {
    width: 298px;
    box-sizing: border-box;
    padding-right: 50px;
}
.footer-column:nth-child(3) {
    width: 247px;
}
.footer-column:nth-child(4) {
    width: 196px;
}

.footer-middle-title {
    font-size: 20px;
    text-transform: uppercase;
}

.footer-text {
    margin-top: 25px;
}

.text2 {
    margin-top: 0;
}

.footer-column > hr {
    border-color: #fff;
    opacity: .4;
    margin: 5px 0;
}

#like{
    margin-top: 5px;
}

.footer-photo {
    margin-right: 11px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.twitter-block::after {
    content: '';
    clear: both;
    display: table;
}

.twitter-block > img {
    display: block;
    float: left;
    margin-right: 13px;
    margin-top: 30px;
}

.twitter-block > p {
    display: block;
    width: 170px;
    margin-top: 6px;
    float: left;
    margin-top: 38px;
}

.twitter-block > p span {
    opacity: .5;
}

.footer-column > ul {
    margin-top: 35px;
}

.footer-column > ul >li {
    position: relative;
    margin-left: 18px;
    line-height: 1.846;
}

.footer-column > ul >li::before {
    content: url('img/arr_down.png');
    position: absolute;
    left: -18px;
    transform: rotate(270deg);
}

#adress {
    line-height: 1.846;
    margin-top: 35px;

}

.icons-block {
    margin-top: 18px;
}

.icons-block > img {
    margin-right: 10px;
}

.footer-menu-block {
    width: 100%;
    background-color: #0b4b5a;
    color: #39a0b9;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

#copyright {
    float: left;
}

.footer-menu-block  ul {
    float: right;
    position: relative;
}

.footer-menu-block  li {
    display: inline;
    margin-left: 32px;
    
}

.footer-menu-block > .width > ul > li::after {
    content: '';
    width: 1px;
    height: 11px;
    background-color: #39a0b9;
    position: absolute;
    margin-left: 16px;
    bottom: 2px;
}

#last-2::after {
    content: '';
    display: none;
}

.footer-menu-block a {
    color: #39a0b9;
}